# Cache files
.vscode
__pycache__
model
speech-assistant.log
!effects/*.wav

# Testing
test*.py
logs
performance_testing.py
model_performance.py

# File types
*.wav
*.txt
*.csv
*.ipynb
!langchain_test.ipynb
*.json
*.log