# Cache files
.vscode
__pycache__
model
speech-assistant.log
!effects/*.wav
.chainlit
chainlit.md

# Testing
test*.py
logs
performance_testing.py
model_performance.py
*test*
config.ini

# File types
*.wav
*.txt
*.csv
*.ipynb
!langchain_test.ipynb
*.json
*.log