# For the model
torch==2.0.1
transformers==4.35.2
accelerate==0.24.1
# For typing
PyAutoGUI==0.9.54
# For hotkeys
python-xlib==0.33
python3-xlib==0.15
keyboard==0.13.5

# For audio
PyAudio==0.2.14
playsound==1.2.2

# Gave a problem on Ubuntu 22.04, fixed with 
#   sudo apt install libgirepository1.0-dev
# pygobject==3.46.0 
